<div class="col-lg-3 col-sm-4 sql-item-root" th:each="sql : ${sqls}">
  <a href="javascript:void(0)" class="widget sql-item" th:id="'sql-' + ${sql.id}"
    th:title="${sql.name}"
    th:attr="data-id=${sql.id},data-type=${sql.type},data-table-name=${sql.tableName}">
    <div class="widget-content widget-content-mini themed-background text-light sql-item-name">
      <div class="pull-right">
        <i class="fa fa-bookmark-o sql-item-save"
          title="" data-toggle="tooltip" data-original-title="Save as template" data-placement="bottom"></i>&nbsp;
        <i class="fa fa-times sql-item-remove"
          title="" data-toggle="tooltip" data-original-title="Remove" data-placement="bottom"></i>
      </div>
      <div class="pull-left">
        <i class="fa"
          th:classappend="${sql.type.toString().equals('TABLE')} ? 'fa-table' : 'fa-file-text-o'"></i>&nbsp;
      </div>
      <strong class="sql-name" th:text="${sql.name}"></strong>
    </div>
    <div class="widget-content clearfix">
      <p class="sql-sentence" th:text="${sql.sentence}"></p>
    </div>
  </a>
</div>