<div class="col-lg-3" th:each="sql : ${sqls}">
  <a href="javascript:void(0)" class="widget">
    <div class="widget-content widget-content-mini themed-background text-light">
      <div class="pull-right">
        <i class="fa fa-floppy-o"></i>&nbsp;
        <i class="fa fa-times"></i>
      </div>
      <i class="fa" th:classappend="${sql.type.toString().equals('TABLE')} ? 'fa-table' : 'fa-file-text-o'"></i>&nbsp;
      <strong th:text="${sql.name}"></strong>
    </div>
    <div class="widget-content clearfix">
      <p th:text="${sql.sentence}"></p>
    </div>
  </a>
</div>