<div>
  <input id="table-info-table-name" type="hidden" th:value="${tableInfo.tableName}" />
  <input id="table-info-comments" type="hidden" th:value="${tableInfo.comments}" />

  <ul class="nav nav-tabs" id="table-info-tabs">
    <li><a href="#table-info-columns" data-toggle="tab">Columns</a></li>
    <li><a href="#table-info-constraints" data-toggle="tab">Constraints</a></li>
    <li><a href="#table-info-others" data-toggle="tab">Others</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane" id="table-info-columns">
      <table class="table table-striped table-vcenter table-bordered table-condensed">
        <thead>
          <tr>
            <th>Name</th>
            <th>Comments</th>
            <th>Key</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="ci : ${tableInfo.columns}">
            <td th:text="${ci.columnName}"></td>
            <td th:text="${ci.comments}"></td>
            <td class="text-center">
              <span class="label label-info" th:if="${ci.isKey}"><i class="fa fa-check"></i></span>
            </td>
            <td th:text="${ci.description}"></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="table-info-constraints">
      <p th:if="${#strings.isEmpty(tableInfo.primaryKey.name)}">
        No primary key!
      </p>
      <div th:if="${!#strings.isEmpty(tableInfo.primaryKey.name)}">
        <h3>
          <span class="label label-info">PK</span>
          <span th:text="${tableInfo.primaryKey.name}"></span>
        </h3>
        <div>
          <u>Columns</u>
          <ol>
            <li th:each="c : ${tableInfo.primaryKey.columns}" th:text="${c}"></li>
          </ol>
        </div>
        <div th:if="${tableInfo.primaryKey.referers.size() > 0}">
          <u>Referers</u>
          <ul>
            <li th:each="r : ${tableInfo.primaryKey.referers}" th:text="${r}"></li>
          </ul>
        </div>
      </div>
      
      <div th:each="fk : ${tableInfo.foreignKeys}">
        <h3>
          <span class="label label-default">FK</span>
          <span th:text="${fk.name}"></span>
        </h3>
        <div>
          <u>Columns</u>
          <ol>
            <li th:each="c : ${fk.columns}" th:text="${c}"></li>
          </ol>
        </div>
        <div>
          <span>Reference to </span><b th:text="${fk.reference}"></b>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="table-info-others">
      <p th:text="${tableInfo.description}"></p>
      
      <div th:each="idx : ${tableInfo.indexes}">
        <h3>
          <span class="label label-default">INDEX</span>
          <span th:text="${idx.name}"></span>
        </h3>
        <div>
          <u>Columns</u>
          <ol>
            <li th:each="c : ${idx.columns}" th:text="${c}"></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>