/* Layout --------------------------------------------------*/
#tool-area {
  height: 45px;
}

#list-area {
  height: calc(30% - 45px);
}

#workspace {
  height: calc(70% - 45px);
  margin-top: 10px;
}

.btn-toolbar i {
  width: 10px;
}

/* Sql list --------------------------------------------------*/
#list-col {
  height: 100%;
}

#sql-list {
  height: 100%;
  border: solid 1px silver;
  overflow-y: scroll;
  padding-top: 10px;
}

#sql-list .widget {
  margin-bottom: 10px;
}

#sql-list .widget-content {
  padding: 5px;
}

#sql-list .sql-item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#sql-list .sql-sentence {
  height: 20px;
  margin: 0;
  font-size: 11px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sql-item-save:HOVER, .sql-item-remove:HOVER {
  color: lime;
}

/* SQL editor --------------------------------------------------*/
#sql-editor-root {
  height: 100%;
  padding: 0;
}

#sql-editor {
  height: calc(100% - 5px);
  font-size: 13px;
  resize: none;
}

#for-textcomplete > .dropdown-menu {
  -webkit-transform: initial;
  transform: initial;
}

/* Processor --------------------------------------------------*/
#processor-adaptor {
  height: 100%;
}
#processor-root {
  height: 100%;
  margin-top: 2px;
}
#processor-root iframe {
  height: 100%;
  width: 100%;
  border: none;
  overflow: hidden;
}
