html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#indicator {
  color: #454e59;
  font-family: Lato,"Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 10px;
}

#indicator img {
  vertical-align: middle;
}

#indicator h4 {
  display: inline;
}

#data-table {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.handsontable {
  font-size: 13px;
}