html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

#data-table {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.handsontable {
  font-size: 13px;
}

.handsontable .row-changed {
  background-color: #FFFFE0;
}

.handsontable .row-added {
  background-color: #E0FFFF;
}

.handsontable .cell-changed {
  color: #FF0000;
}

#status-bar {
  position: absolute;
  bottom: 0px;
  height: 18px;
  font-size: 11px;
}

.alert {
  color: white;
  max-width: 75%;
  padding: 10px;
  border-radius: 5px;
}

.alert h4 {
  font-weight: bold;
}

#alert-error {
  background-color: #de815c;
}

#alert-success {
  background-color: #afde5c;
}