<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:include="envelope :: envelope">
<head th:fragment="link" th:remove="tag">
<link rel="stylesheet" type="text/css" th:href="@{/css/connections/main.css}" />
</head>

<div th:fragment="content">
  <!-- Connection List -->
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
      <div class="block">
        <div class="block-title">
          <div class="block-options pull-right">
            <a id="btn-refresh" href="javascript:void(0)" class="btn btn-effect-ripple btn-primary"
              data-toggle="tooltip" data-placement="left" title="" data-original-title="Refresh">
                <i class="fa fa-refresh"></i>
            </a>
            <a id="btn-new" href="javascript:void(0)" class="btn btn-effect-ripple btn-primary"
              data-toggle="tooltip" data-placement="left" title="" data-original-title="Create new connection">
                <i class="fa fa-plus"></i>
            </a>
          </div>
          <h2>Connection List</h2>
        </div>
        <div class="table-responsive">
          <table id="connection-list" class="table table-striped table-vcenter table-bordered table-condensed table-hover">
            <thead>
              <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Port</th>
                <th>Sid</th>
                <th>Username</th>
                <th>Password</th>
                <th>FreeFormat URL</th>
                <th style="width: 80px;" class="text-center"><i class="fa fa-bolt"></i></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- END Connection List -->

  <!-- Connection Dialog -->
  <div id="connection-dialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 class="modal-title">
            <strong>New connection</strong>
          </h3>
        </div>
        <div class="modal-body">
          <form id="connection-form" class="form-horizontal form-bordered">
            <div class="form-group">
              <label class="col-md-3 control-label" for="name">Name</label>
              <div class="col-md-9">
                <input type="text" id="name" name="name" class="form-control" placeholder="name..." />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="host">Host</label>
              <div class="col-md-9">
                <input type="text" id="host" name="host" class="form-control" placeholder="e.g. 12.34.567.89" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="port">Port</label>
              <div class="col-md-9">
                <input type="text" id="port" name="port" class="form-control" placeholder="e.g. 1521" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="sid">Sid</label>
              <div class="col-md-9">
                <input type="text" id="sid" name="sid" class="form-control" placeholder="service id..." />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="username">Username</label>
              <div class="col-md-9">
                <input type="text" id="username" name="username" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="password">Password</label>
              <div class="col-md-9">
                <input type="text" id="password" name="password" class="form-control" />
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label" for="freeFormat">Free format URL</label>
              <div class="col-md-9">
                <textarea id="freeFormat" name="freeFormat" class="form-control" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" id="btn-submit" class="btn btn-effect-ripple btn-primary">Save</button>
          <button type="button" class="btn btn-effect-ripple btn-danger" data-dismiss="modal">
            <span class="btn-ripple animate"></span>Close
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- END Connection Dialog -->
</div>

<object th:fragment="script" th:remove="tag">
  <script type="text/javascript" th:src="@{/js/connections/list.js}"></script>
  <script type="text/javascript" th:src="@{/js/connections/dialog.js}"></script>
  <script type="text/javascript" th:src="@{/js/connections/main.js}"></script>
</object>
</html>
